@font-face{
  font-family:"content";
  src: url(./fonts/Content/Content-Regular.ttf);
}
@font-face{
  font-family:"montserrat";
  src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face{
  font-family:"roboto";
  src:url(./fonts/Roboto/Roboto-Thin.ttf);
}
@font-face{
  font-family:"moul";
  src:url(./fonts/Moul/Moul-Regular.ttf);
}
:root{
  --dark-bg:#111111;
  --light-bg:#fefefe;
  --dark-text:#eeeeee;
  --light-text:#222222;
  --main-font:roboto,content, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --title-font:montserrat,moul, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family:var(--main-font);
}
.title-f{
  font-family:var(--title-font);
}
.dark{
  background-color:var(--dark-bg);
  color:var(--dark-text);
}
.light{
  background-color:var(--light-bg);
  color:var(--light-text);
}
.container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
